---
import '../styles/global.css';
const { 
	pageTitle, 
	description = "MB Crosier's personal website and blog",
	type = "website",
	socialImage,
	ogImage,
	twitterImage
} = Astro.props;
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

// Get the canonical URL
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>{pageTitle}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content={type} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="MB Crosier" />
		{ogImage && <meta property="og:image" content={ogImage} />}

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={canonicalURL} />
		<meta name="twitter:title" content={pageTitle} />
		<meta name="twitter:description" content={description} />
		{twitterImage && <meta name="twitter:image" content={twitterImage} />}

		<!-- iOS/Safari sharing -->
		<meta name="apple-mobile-web-app-title" content={pageTitle} />
		{socialImage && <link rel="apple-touch-icon" href={socialImage} />}

		<!-- fonts and icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yellowtail&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/1a310a18cd.js" crossorigin="anonymous"></script>

		<!-- Add Reddit embed script -->
		<script src="https://embed.reddit.com/widgets.js" async defer></script>
	</head>
	<body>
		<nav>
			<Header />
			<Navigation />
	    </nav>
        <slot />
		<script>
		</script>
		<Footer />
	</body>
</html>
