---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import Aside from '../components/Aside.astro';

// Parse the date string into a Date object
const pubDate = new Date(frontmatter.pubDate);

// Format the date
const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}).format(pubDate);
---
<BaseLayout pageTitle={frontmatter.title}>
    <br>
    <h1>{frontmatter.title}</h1>
    <h3>{formattedDate}</h3>
    <hr class="dotted">

    <!---

    Uncomment this to bring back tags

    <div class="tags">
        {frontmatter.tags.map((tag) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
      </div> 
      -->
    <slot />
</BaseLayout>
<style>
    a {
      color: #00539F;
    }

    h1, h3 {
      text-align: center;
    }

    h1{
      margin-bottom: 6px;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 4px 4px 4px 0px;
      border: dotted 1px #83c5be;
      border-radius: 8px;
      padding: 4px 8px;
      font-size: 16px;
      background-color: #F0F3BD;
    }

    h3{
      font-size: 16px;
      margin: 0px;
    }

    .post-date{
      color: #28241C;
    }
    
  </style>